{% extends "base.html" %}
{% block content %}
<section>
  <div class="container-fluid my-3 mx-8">
    <h1>Abraham</h1>
    <div class="row bg-secondary text-light">
      <div class="col-2">
          <img src="{{ url_for('static', filename='images/abraham_page_1.png') }}" alt="Picture of Abraham" class="img-fluid" height="100%" width="100%">
      </div>
      <div class="col-3">
        <p class="fs-5">
          Fortunately , our organization discovered Abraham and provided him with safe
          haven and support. When asked about his dreams, Abraham’s eyes sparkled
          with determination and shared his aspiration to become a skilled pilot. Which
          seemed improbable given his visual impairment.
        </p>
        <p class="fs-5">
          Demonstrating faith in Abraham’s potential, our organization facilitated a
          comprehensive eye examination. The diagnosis revealed that Abraham’s
          condition could be corrected with a simple $2 eye drop treatment.
          Following a five- day regimen, Abraham’s vision was fully restored.
          We are delighted that the HOLO organization could provide timely
          intervention and support, transforming Abraham's life and reviving his dreams.
          </p>
        <p class="fs-5">
          This experience underscores the significance of accessible healthcare
          and the profound impact it can have on individuals and communities.
          Fast forward 15 years, Abraham has blossomed into a brilliant, friendly,
          and driven individual. A straight A student, he’s currently thriving in high
          school, with his sights set on aviation school in 2027. We’re thrilled to
          witness Abraham’s growth and can't wait to see his dreams take flight!
        </p>
      </div>
    </div>
      </div>
</section>
{% endblock %}