{% extends "base.html" %}
{% block content %}
<!--INTRO-->
<section>
  <div class="container-fluid my-3 mx-8">
    <h1>Children's Services</h1>
    <div class="row bg-secondary text-light">
      <div class="col-4">
          <img src="{{ url_for('static', filename='/images/children_1.png') }}" alt="Picture of Children" height="90%" width="90%" class="img-fluid">
      </div>
      <div class="col-4">
          <img src="{{ url_for('static', filename='/images/home_page_orphanage.png') }}" alt="Picture of Children" class="img-fluid">
      </div>
      <div class="col-4">
          <img src="{{ url_for('static', filename='/images/children_3.JPG') }}" alt="Picture of Children" height="90%" width="90%" class="img-fluid">
      </div>
    <div class="row bg-secondary text-light">

      <div class="col-2">
      </div>
      <div class="col-8">
        <p class="fs-5">
          Our organization serves children from infancy to young adulthood, with ages ranging from
          new-born to 18 years old. We currently care for 60 orphaned children. Of these, 45 are enrolled
          in school, while 15 younger children are waiting for their educational journey to begin.
        </p>
        <p class="fs-5">
          HOLO provides safe haven for vulnerable children from various backgrounds. We rescue street
          children, take in abandoned infants found near our premises, and welcome total orphans from
          nearby villages. Additionally, we work with local authorities to accept children from desperate
          young mothers who cannot afford to care for them, and are referred to us through the local police.
        </p>
        <p class="fs-5">
          Defying adversity, our young heroes are fueled by determination and passion. As orphans,
          they’ve faced unimaginable challenges, yet they remain steadfast in pursuing their dreams -
          Whether in academia, athletics, or the spotlight of the entertainment industry. Their resilience
          and spirit are a beacon of hope, inspiring us to believe in the power of the human spirit.
          </p>
      </div>
    </div>
    </div>


  </div>
</section>
{% endblock %}