{% extends "base.html" %}
{% block content %}
<!--INTRO-->
<section>
  <div class="container-fluid my-3 mx-8">
    <h1>Children</h1>
    <div class="row">
      <div class="col-4">
        <br>
          <img src="./static/images/children_1.png" alt="Home of Love Logo" class="img-fluid">
      </div>
      <div class="col-4">
        <p class="fs-5">
            Our organization serves children from infancy to young adulthood, with ages ranging from
new-born to 18 years old. We currently care for 60 orphaned children. Of these, 45 are enrolled
in school, while 15 younger children are waiting for their educational journey to begin.HOLO provides safe haven for vulnerable children from various backgrounds. We rescue street
children, take in abandoned infants found near our premises, and welcome total orphans from
nearby villages. Additionally, we work with local authorities to accept children from desperate
young mothers who cannot afford to care for them, and are referred to us through the local
police.
Defying adversity, our young heroes are fueled by determination and passion. As orphans,
they’ve faced unimaginable challenges, yet they remain steadfast in pursuing their dreams -
Whether in academia, athletics, or the spotlight of the entertainment industry. Their resilience
and spirit are a beacon of hope, inspiring us to believe in the power of the human spirit.
          </p>
      </div>
    </div>
    <div class=""row>
      <div class="col-4">
        <br><br><br>
        <h2>These are the stories of some of our children</h2>
        <br><br><br>
      </div>
    </div>

    <div class="row">
      <div class="col-4">
          <img src="./static/images/annabel_2a.png" alt="Home of Love Logo" class="img-fluid">
        <p class="fs-5">
        Meet Annabel, a shining star in our organization. For 12 incredible
years, Annabel has called our community home. Rescued at just 3
years old, she was found wandering village
streets, searching for food for herself and her loyal
dog. Even at a tender age, Annabel's aspirations
knew no bounds – she dreamed of becoming a
doctor.
              <a  href="URL Goes Here">More...</a>
        </p>
      </div>
      <div class="col-4">
          <img src="./static/images/benjamin_1a.png" alt="Home of Love Logo" class="img-fluid">
        <p class="fs-5">
              Meet Benjamin, a bright and talented young boy who
has been a part of our family for 8 incredible years.
Abandoned at just 3 years old, Benjamin has grown into
a confident and compassionate individual.
              <a  href="URL Goes Here">More...</a>
        </p>
      </div>
      <div class="col-4">
          <img src="./static/images/abraham_1a.png" alt="Home of Love Logo" class="img-fluid">
        <p class="fs-5">
              And here comes Abraham, a resilient and ambitious young man who has
overcome unimaginable adversity. This young orphan suffered from untreated
vision problems due to lack of access to medical care. By age three, he had
developed a partial blindness in one eye.
Abandoned at just 3.5 years old, Abraham was left to fend for himself, often
sitting on his father’s grave, relying on the kindness of strangers for food.
              <a  href="URL Goes Here">More...</a>
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock %}