{% extends "base.html" %}
{% block page_css %}
<style>
  .background-image-container {
  background-image: url('./static/images/lake_victoria_water_lilly.jpg');
  background-size: cover; 
  background-position: center;
  height: 100vh;
  width: 100vw;
  /* height: 1300px; /* Set a specific height
  width: 75%; */
  opacity: 1.0;
}
</style>
{% endblock %}

{% block content %}
<section>
  <div class="container-fluid my-3 mx-8">
        <h1>Contact</h1>
        </div>
  <div class="container-fluid my-3 mx-8 background-image-container text-white">
    <div class="row">
      <div class="col-4">
        <p class="fs-3">
       email: stellaowino@gmail.com
       </p>
        <p class="fs-3">
       Phone: +1 704 906 8766
       </p>
      </div>
    </div>
  </div>
</section>
{% endblock %}