{% extends "base.html" %}
{% block page_css %}
<style>
  .background-image-container {
  background-image: url('static/images/donate_revised.png');
  background-size: cover;
  min-height: 504px;
  min-width: 2216px; 
  background-position: center;
  color: rgb(177, 78, 8);
  opacity: 1.0;
}
</style>
{% endblock %}
{% block content %}
<section>
  <div class="container-fluid p-0 m-0">
    <div class="background-image-container d-flex align-items-left justify-content-left">
    <h1>Donate</h1>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top"><input name="cmd" type="hidden" value="_s-xclick"><br>
      <input name="hosted_button_id" type="hidden" value="RCG3XTFTYZD2J"><br>
      <input alt="PayPal - The safer, easier way to pay online!" name="submit" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" type="image"><br>
      <img loading="lazy" decoding="async" style="display: block; margin-left: auto; margin-right: auto;" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" alt="" width="1" height="1" border="0">
    </form>
    </div>
</div>
  <div class="bg-secondary text-light">
  <div class="row">
      <div class="col-10 ms-4 text-left">
        <p class="fs-4">
          Despite the HOLO organization’s noteworthy achievements, our journey has not been without
          challenges. As we strive to fulfil our mission, we recognize the importance of collaborative
          partnership. We invite like-minded individuals and organizations to join us in bringing hope to
          those who need it most.
        </p>
        </div>
    </div>

  <div class="row">
      <div class="col-6 ms-4 text-left">
        <p class="fs-3">
          <strong>Sponsorship Opportunities</strong><br>
        </p>
        <ol class="fs-5">
          <li>Child educational sponsorship: $600 per child per year (or $50 per month).</li>
          <li>Sponsor an employee’s salary. Enabling us to maintain and expand our team: $200 per
              employee monthly.</li>
          <li>Widows Entrepreneurship sponsorship: One time gift of $200 per widow to start a small business.</li>  
          <li>Vocational School support: Donate to purchase essential equipment, such as sewing
              machines. The Cost of one sewing machine is $170.</li>
          <li>Program-Specific sponsorship: Support initiatives like chicken farming for egg production.</li>
      </ol>
      </div>
      <div class="col-5 ms-4 text-left">
        <p class="fs-3">
          <strong>Other Ways to Support Us</strong>
          </p>
          <ol class="fs-5">
            <li>Digital presence: Assist us in developing a website to share our stories, mission, and work.</li>
            <li>Awareness and outreach: Help us create promotional materials, such as flyers, to raise
            awareness about our organization.</li>
            <li>Guidance and expertise: Offer advice, education, and prayer support to enhance our
            operations and effectiveness.</li>
            <li>Partnership and Fundraising : Collaborate with us to achieve the vision and provide
            financial Support for the mission.</li>
          </ol>
        </p>
        <p class="fs-5">
        We also invite you to join us on the mission trip to Uganda where you can participate in our
        on-the -ground work.
      Together we can make a meaningful difference in the lives of those we serve.
        </p>
      </div>
  </div>
  </div>
  <!--</div> -->
    <div class="row bg-info text-dark">
      <div class="col-3 ms-4">
          <img src="{{ url_for('static', filename='images/schoolhouse.png') }}" alt="School House" class="img-fluid">
      </div>
      <div class="col-4 ms-4">
        <p class="fs-3">
        <strong>Expanding Educational Opportunity and empowering communities.</strong><br>
        </p>
        <p class="fs-5">
To fulfil our mission of providing education and support to vulnerable children, HOLO
organization aims to establish both elementary and trade schools.
This initiative will offer free education to those in need, alleviating the
financial burden of school tuition and enabling us to extend our
support to a greater number of vulnerable children.
To ensure the sustainability of our education program, we plan to
open the school to non vulnerable students who will pay tuition fees.
The revenue generated will be utilized to operate the schools and
provide for the vulnerable children.
      </p>
      </div>
      <div class="col-4 ms-4">
        <p class="fs-3">
        <strong>Infrastructure Development</strong><br>
        </p>
        <p class="fs-5">
Currently, HOLO organization possesses three acres of land, which
we intend to expand by acquiring an additional three acres. This expansion will enable us to
construct both the trade school and elementary school, providing a comprehensive education
environment.
Furthermore we plan to establish a farmer’s market, offering a dedicated space for widows to
sell their fresh produce. This initiative will empower them to earn a steady income, supporting
their livelihood and promoting economic independence.
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock %}