{% extends "base.html" %}
{% block page_css %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block content %}
<!--INTRO-->
<section>
  <div class="container-fluid p-0 m-0">
    <div class="row gx-0"> <!--gx-0 removes column gutters-->
      <div class="col-12">
        <img src="./static/images/Home_Page_Banner.png", alt="Banner", class="full-viewport-img">
      </div>
    </div>
  </div>
  <div class="container-fluid my-3 mx-8 bg-custom-color text-light">
    <div class="row">
      <div class="col-4">
        <p class="fs-5">
        Home of Love Orphanage is a grassroots organization serving orphaned children in a small community in Tororo, Uganda.
        </p>
        <p class="fs-5">
        I was born and raised in Uganda and witnessed a lot of suffering and neglect of orphaned children during that time. 
        After coming to the United States, I felt the inner pull to help make a difference in as many lives as possible.
</p>
      </div>
      <div class="col-4">
        <p class="fs-5">
        In 2003, I started sending money to my mother in Uganda to care for 6 orphans.
        In 2005, I bought a plot of land to help expand the ministry of helping these children. The land had no structures and no running water. 
        It was empty land. During this time, we put a sign on the land that said “Future Home for the Homeless”. 
        Immediately, street children saw the sign and started staying on the property before we had a formalized or organized team or any place to care for them.
        Somebody had to take care of these children. We took them in and placed them in temporary housing until we were able to accommodate them.
        </p>
      </div>
          <div class="col-4">
            <p class="fs-5">
              And so the founding of Home of Love Orphanage took place in 2008. 
              At Home of Love Orphanage, we take hopeless children off the street, help them discover their potential, and train them to be productive citizens in their society. 
              We provide shelter, food, clothing, school tuition, healthcare, and life coaching.
              Over 40 children’s lives have been restored since formally starting Home of Love Orphanage in 2008.
              It is our mission to teach entrepreneurism, leadership, and sustainable agriculture to raise up leaders who will bring positive change in their society.
            </p>
            </div>
        </div>
    </div>
    </section>
    <section>
       <div class="container-fluid my-5 ms-3 bg-light">
        <h3>Our Children Enjoying Some Activities</h3>
    </div>
       <div class="row row justify-content-center">
        <div class="col-md-8 d-flex justify-content-center text-center bg-light">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="./static/images/carousel_1_football.png" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="./static/images/carousel_2_birthday.png" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="./static/images/carousel_3_merryxmas.png" alt="Third slide">
    </div>
  </div>
</div>
</div>
</div>
</section>
{% endblock %}