{% extends "base.html" %}
{% block content %}
<!--INTRO-->
<section>
  <div class="container-fluid my-3 mx-8">
        <h1>HOME OF LOVE</h1>
    <div class="row">
      <div class="col-4">
          <img src="./static/images/home_page_orphanage.png" alt="Home of Love Logo" class="img-fluid">
      </div>
      <div class="col-4">
        <p class="fs-5">
        Home of Love Orphanage is a grassroots organization serving orphaned children in a small community in Tororo, Uganda.
I was born and raised in Uganda and witnessed a lot of suffering and neglect of orphaned children during that time. After coming to the United States, I felt the inner pull to help make a difference in as many lives as possible.
In 2003, I started sending money to my mother in Uganda to care for 6 orphans.
In 2005, I bought a plot of land to help expand the ministry of helping these children. The land had no structures and no running water. It was empty land. During this time, we put a sign on the land that said “Future Home for the Homeless”.
Immediately, street children saw the sign and started staying on the property before we had a formalized or organized team or any place to care for them.
Somebody had to take care of these children.We took them in and placed them in temporary housing until we were able to accommodate them.
And so the founding of Home of Love Orphanage took place in 2008. At Home of Love Orphanage, we take hopeless children off the street, help them discover their potential, and train them to be productive citizens in their society. We provide shelter, food, clothing, school tuition, healthcare, and life coaching.
Over 40 children’s lives have been restored since formally starting Home of Love Orphanage in 2008.
It is our mission to teach entrepreneurism, leadership, and sustainable agriculture to raise up leaders who will bring positive change in their society.
          </p>
      </div>
    </div>
  </div>
</section>
{% endblock %}