{% extends "base.html" %}
{% block content %}
<section>
    <div class="container-fluid my-3 mx-8">
        <h1>Location</h1>
        <div class="row bg-light text-dark">
            <div class="col-2">
                <img src="{{ url_for('static', filename='/images/banana.png') }}" class="img-fluid" alt="Banana">
            </div>
            <div class="col-5">
                <figure class="figure">
                    <img src="{{ url_for('static', filename='/images/tororo_map.webp') }}" class="figure-img img-fluid rounded" 
                    height="100%" alt="Map of Uganda">
                    <figcaption class="figure-caption">
                        <h5>Tororo District (outlined in red) is located near the border with Kenya and not far from Mount Elgon National Park</h5>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</section>
{% endblock %}