 <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-secondary">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('views.home') }}">
          <img src="{{ url_for('static', filename='images/HOLO-Logo.jpg') }}" alt="Home of Love" width="150" class="d-inline-block align-text-top">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{ url_for('views.home') }}">Home</a>
            </li>
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            About
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{{ url_for('views.contact') }}">Contact</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{{ url_for('views.mission_vision') }}">Mission and Vision</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{{ url_for('views.location') }}">Location</a></li>
            <li><hr class="dropdown-divider"></li>
          </ul>
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Our Work
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{{ url_for('views.children') }}">Children's Services</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{{ url_for('views.widows') }}">Adult Services</a></li>
            <li><hr class="dropdown-divider"></li>
          </ul>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('views.blog') }}">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('views.donate') }}">Donate</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>