{% extends "base.html" %}
{% block page_css %}
<style>
.drop-cap {
  float: left;
  padding-top: 0.1em;
  padding-right: 0.1em; 
  font-size: 5em; 
  line-height: .6em;
}
</style>
{% endblock %}
{% block content %}
<section>
  <div class="container-fluid my-3 mx-8">
    <h1>Adult Services</h1>
    <div class="row bg-secondary text-light">
      <div class="col-4">
        <figure>
          <img src="{{ url_for('static', filename='/images/widows/widows.png') }}" alt="Widows" class="img-fluid">
          <figcaption>Members of the Widows Club Pose for a Portrait</figcaption>
        </figure>
      </div>
      <div class="col-4">
        <figure>
          <img src="{{ url_for('static', filename='/images/widows/widows2.png') }}" alt="Widows" class="img-fluid">
          <figcaption>Widows Receiving Gardening Tools to Cultivate Their Gardens</figcaption>
        </figure>
        </div>
      <div class="col-4">
        <figure>
          <img src="{{ url_for('static', filename='/images/widows/widows3.JPG') }}" alt="Widows" class="img-fluid">
          <figcaption>Widows Meet for Encouragement and Support</figcaption>
        </figure>
        </div>
      </div>

    <div class="row bg-secondary text-light">
      <div class="col-1">
      </div>
      <div class="col-10">
          <h2>HOLO Widows Club</h2>
        <p class="fs-5">
          This initiative provides assistance to widows extending our support
          beyond children and young adults.
         </p>
        <p class="fs-5">
          In Uganda polygamy is prevalent, often resulting in multiple
          widows being left behind upon a husband’s passing. These
          women frequently face significant challenges, including
          limited financial resources because most of them are
          uneducated and depend on their husbands as primary
          providers. Furthermore, traditional practices in many parts
          of Ugandan tribes deny women the right to land ownership.
          Consequently, upon becoming a widow, women are often displaced from their late husband’s homes by their late husband’s brothers, leaving them
          without a support system or means of sustenance. 
        </p>
        <p class="fs-5">
          To address this critical issue, the HOLO
          organization established the HOLO Widows Club. This initiative aims to provide essential
          support to widows, empowering them to overcome the hardship they face and regain control
          over their lives.
        </p>
        <p class="fs-5">
            Our program equips them with Essential skills in:
            <ul>
            <li>Agriculture: We provide them with garden tools and seeds to cultivate their own gardens.</li>
            <li>Animal Husbandry: The organization gives them kid goats, piglets, rabbits and chickens to
            raise for income and food.</li>
            <li>Basket weaving and craft: Empowering them to create sellable items.</li>
            <li>Baking : Training them to bake goods for income.</li>
            <li>First Aid Treatments: Enhancing their healthcare knowledge.</li>
            <li>Introduction to small business : they are trained to handle money, management and customer service.</li>
            <li>Bible study: Weekly bible studies equips the widows with spiritual nourishment.</li>
          </ul>
        </p>
        <p class="fs-5">
          Our innovative approach includes:
          <ul>
            <li>Rented Village Front store: This is a farmer’s market- style outlet rented by the organization
            for the widows to sell their produce, with the proceeds returned to them as microloans to start
            their small business.</li>
            <li>Medical workshops and bible studies: fostering community and well-being.</li>
          </ul>
        </p>
      </div>
    </div>
    </div>
  </div>
</section>
{% endblock %}